.main-container {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 90vw;
    padding: 0 25px;
    height: 100%;
}

#me-pics {
    position: relative;
    top: 25px;
    width: 100vw;
    z-index: 1;
}

.about-info-container {
    position: relative;
    top: -50px;
    z-index: 15;
}

.about-info1 h2 {
    font-size: 4.5rem;
    opacity: 0.2;
    font-weight: 700;
}

.about-info1 h3 {
    position: relative;
    top: -45px;
    padding-bottom: -50px;
    font-size: 1.5rem;
    font-weight: 700;
}

.about-p p {
    position: relative;
    top: -20px;
    width: 90%;
    padding-bottom: 1vh;
}

#self-drawing {
    position: relative;
    top: -100px;
    width: 105%;
    display: none;
}

.powered-container {
    padding-bottom: 400px;
}

.powered-by {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    width: 85%;
}

.powered-by p {
    text-align: center;
    font-size: 1.5rem;
}

.powered-by img {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 50px 0;
    width: 90%;
}


.side-img {
    position: absolute;
    right: 0;
    opacity: 0.6;
    width: 50vw;
}

.art-intro {
    display: inline-block;
}

.art-header {
    padding-top: 100px;
}

.art-header-text {
    font-size: 2rem;
    font-weight: 800;
    text-shadow: 1.5px 1.5px #8ae7ff;
}

#drawings {
    text-decoration: line-through;
}

.art-info {
    position: relative;
    font-size: 0.8rem;
    padding-top: 50px;
}

.art-container {
    padding-top: 100px;
}

.section-photo {
    width: 100%;
    height: auto;
    border: 3px solid black;
    padding: 5px;
    margin-bottom: 20px;
}

.art-section-info {
    position: relative;
    z-index: 9;
    background-color: black;
    height: 100%;
    margin-left: 13px;
    margin-right: 13px;
    margin-bottom: 20px;
    border: 5px solid #8ae7ff;
}

.context {
    margin: 5px;
}

.art-section-info h2 a {
    position: relative;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 1.25px 1.25px #8ae7ff;
    color: white;
    transition: 0.4s;
}

.art-section-info h2 a:hover {
    color: #8ae7ff;
    text-shadow: none;
    transition: 0.4s;
}

.art-section-info a img{
    width: 90%;
}

.back-button {
    bottom: 10px;
    position: fixed
}

.back-button a {
    margin: 10px;
    font-size: 1rem;
    color: black;
    text-shadow: 1px 1px #8ae7ff;
    transition: 0.4s;
}

.back-button a:hover {
    text-shadow: none;
    transition: 0.4s;
    color: #8ae7ff;
}




#computer {
    top: 60px;
}


@media (min-width: 576px) {
    #me-pics {
        width: 70vw;
        margin-left: 12vw;
    }

    .powered-by {
        width: 60%;
    }

    .section-photo {
        margin-bottom: 50px;
    }

    .art-section-info {
        top: 50px;
        margin: 0;
    }

    .art-section-info h2 a {
        font-size: 1.3rem;
    }

}

@media (min-width: 768px) { 
    #me-pics {
        width: 70vw;
        margin-left: 12vw;
    }

    .powered-by img {
        width: 75%
    }

    .art-info {
        font-size: 1rem;
    }

    .side-img {
        top: 50px;
    }

    .art-header-text {
        font-size: 3rem;
    }

    .art-section-info {
        top: 125px;
    }
}

@media (min-width: 992px) { 
    .powered-by {
        width: 65%;
    }

    .powered-by img {
        width: 60%
    }

    .side-img {
        width: 40vw;
        top: 40px;
    }

    .art-header-text {
        font-size: 4rem;
    }

    .art-section-info h2 a {
        font-size: 1.7rem;
    }

    .context {
        padding: 20px;
    }

    .art-section-info {
        top: 200px;
    }
}

@media (min-width: 1200px) { 
    #self-drawing {
        display: inline;
    }

    .side-img {
        width: 50vw;
        top: -150px;
    }

    .context {
        padding: 25px;
    }

    .art-container {
        padding-top: 200px;
    }

    .art-section-info h2 a {
        font-size: 2rem;
    }

    .section-photo {
        width: 80%;
    }

    .right {
        float: right;
    }
}